.header {
    width: 500px;
    direction: rtl;
    float: right;
    margin-right: 40px;
    margin-top: 14%;
    font-family: 'Cairo', sans-serif;

}

h1 {
    color: #4C7598;

}

p {
    color: #73BCA3;
    font-weight: bold;
    font-size: 18px;
}

button {
    width: 150px;
    background-color: #4C7598;
    border: none;
    border-radius: 13px;
    padding: 3px;
    margin-top: 30px;
    color: white;
}

.icon {
    padding-right: 6px;
}