  @import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500&family=Tajawal:wght@200;300;400;500;900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
}
.root{
    border-bottom: 1px solid rgba(180, 180, 180, 0.374);
    height: 70px;
}
.navbar-logo{
    list-style: none;
}
img {
    width: 200px;
    float: right;
    margin-right: 30px;
    margin-top: 10px;
}

nav ul li  {
    text-decoration: none;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    list-style: none;
    
    

}
a{
    text-decoration: none;
    color:black;
    font-weight: 700;
}
.signin{
    margin-left: 20px;
    float: left;
    margin-top: 25px;

}
.list{
    float: right;
    margin-right: 200px;
    margin-top: 25px;
}

.signup{
    border:1px solid #73BCA3 ;
    border-radius: 25px;
    width: 100px;
    height: 10px;
    padding: 10px;
}
.signup a {
    color: #73BCA3;
}
.signup:hover,.signup-l:hover {
    background-color:#73BCA3 ;
    color: white;
}
ul li a:hover{
    color: #73BCA3;
}

