.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 110%;
    margin-top: 20%;
    color: #4C7598;
}


.card {
    display: block;
    margin-top: 80px;
    justify-content: space-between;
    margin-right: 90px;

}

.box1 {
    width: 50px;
    height: 50px;
    background-color: #73BCA3;
    box-shadow: -10px 10px #73bca24e;
    border-radius: 5px;
}

.icon1 {
    margin: 15px;
    color: white;
}

h5 {
    color: #4C7598;
    margin-top: 15px;
    font-size: 20px;
    font-weight: bolder;
}

.describe {
    width: 250px;
    font-size: 15px;
    font-weight: 500;
}

.cards {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}